.wrapper-broad-project{
    width: 100%;
    height:fit-content;
    .container{  
        .broad-project{
            margin-top: 10px;
            width: 100%;
            height: fit-content;
            .broad{
                width: 100%;
                height: fit-content;
                
            }
        }

    }
}