.wrapper-project-page{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    .container{
        width: 1000px;
        padding: 30px 0;
        .title{
            width: 100%;
            color: var(--color-title);
            h1{
                font-size: 32px;
                margin-bottom: 20px;
            }
            .arrow{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    color: var(--color-text-p);
                    font-size: 16px;
                }
                .icon{
                    margin-left: 10px;
                    color: var(--color-icon);
                }
                .arrow-pages{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: var(--color-title);
                    button{
                        background-color: var(--background-color-card);
                        cursor: pointer;
                        margin-left: 10px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid rgb(150, 148, 148);
                        &:hover{
                            background-color: var(--background-color-hover);
                        }
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon{
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .content{
            margin-top: 20px;
        }
        .arrow-project{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
            button{
                background-color: var(--background-color-card);
                color: var(--color-icon);
                cursor: pointer;
                margin-left: 10px;
                border-radius: 50%;
                border: none;
                border: 1px solid gray;
                width: 40px;
                height: 40px;
                &:hover{
                    background-color: var(--background-color-hover);
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    .wrapper-project-page{
        padding: 0;
        .container{
            width: 100%;
            .title{
                padding: 0 20px;
                .arrow{
                    display: block;
                    .arrow-pages{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
