.wrapper-tags-popular{
    width: 100%;
    height: fit-content;
    .container{
        width: 100%;
        height: fit-content;
        .tags{
            margin-top: 10px;
            width: 100%;    
        }
    }
}
