.wrapper-ranking-page{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    .container{
        padding: 30px 0;
        width: 1000px;
        height: fit-content;
        .title{
            display: flex;
            align-items: center;
            color: var(--color-title);
            .icon{
                color: #fa9e59;
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
            h1{
                font-size: 32px;
            }
        }
        .arrow{
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            h2{
                font-size: 24px;
                color: var(--color-title);
            }
            button{
                background-color: var(--color-btn);
                width: 40px;
                height: 40px;
                border: 1px solid gray;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: var(--background-color-hover);
                }
                .icon{
                    color: var(--color-icon);
                }
            }
        }
        .rankings{
            width: 100%;
            height: fit-content;
        }
    }
}
@media screen and (max-width:800px) {
    .wrapper-ranking-page{
        padding: 0;
        .container{
            width: 100%;
            .title{
                padding: 0 20px;
            }
            .arrow{
                margin: 20px;
            }
        }
    }
}