.wrapper-feature{
    width: 100%;
    height: fit-content;
    .container{
        width: 100%;
        margin-top: 20px;
        .title-project{
            position: relative;
            display: flex;
            .icon{
                width: 35px;
                height: 35px;
                color: #fa9e59;
                margin-right: 10px;
            }
            .title{
                h3{
                    font-size: 24px;
                    color: var(--color-text-h1-h2);

                }
                span{
                    font-size: 16px;
                    color: var(--color-text);

                }
            }
            .btn{
                position: absolute;
                right: 0;
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button{
                    width: 100px;
                    height: 40px;
                }
            }
        }
        .feature{
            margin-top: 10px;
            width: 100%;
            .view-full{
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px dashed  #bdb1b0;
                border-bottom: 1px dashed  #bdb1b0;
                background-color: #ffffff;
                text-decoration: none;
                span{
                    cursor: pointer;
                    color: rgb(182, 168, 168);
                    display: flex;
                    align-items: center;
                    &:hover{
                        text-decoration: underline;
                        color: var(--color-text);
                    }
                    .icon{
                        margin-left: 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}