.wrapper-feature{
    width: 100%;
    height: fit-content;
    .container{
        width: 100%;
        margin-top: 20px;
        .title-project{
            position: relative;
            display: flex;
            .icon{
                width: 35px;
                height: 35px;
                color: #fa9e59;
                margin-right: 10px;
            }
            .title{
                h3{
                    font-size: 24px;
                    color: var(--color-title);
                }
                span{
                    font-size: 16px;
                    color: var(--color-text-p);
                }
            }
            .btn{
                position: absolute;
                right: 0;
                width: 100px;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button{
                    width: 100px;
                    height: 40px;
                }
            }
        }
        .feature{
            .line-infiniti{
                height: 2px;
                background-color: var(--color-a);
                animation: run infinite 10s linear;
            }
            margin-top: 10px;
            width: 100%;
            .view-full{
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 1px dashed  var(--color-border);
                background-color: var(--background-color-card);
                text-decoration: none;
                span{
                    cursor: pointer;
                    color: rgb(182, 168, 168);
                    display: flex;
                    align-items: center;
                    &:hover{
                        text-decoration: underline;
                    }
                    .icon{
                        margin-left: 5px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
@keyframes run {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }