.wrapper-header-main{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-dropdown-more{
        .wrapper-dropdown{
            width: 200px;
            height: 240px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .container{
                border-radius: 5px;
                width: 100%;
                height: 100%;
                background-color: var(--background-color-card);
                border: 1px solid rgb(206, 206, 206);
                padding: 10px 0;
                .link-page{
                    text-decoration: none;
                    color: var(--color-text-p);
                    font-size: 17px;
                    .item-dropdown{
                        width: 100%;
                        height: 35px;
                        padding: 10px;
                        display: flex;
                        align-items:center;
                        transition: all .2s ease-out;
                        &:hover{
                            background-color: var(--background-color-hover-drop)
                        }
                    }
                }
            }
        }

    }
    .container{
        .header-left{
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            height: 60px;
            .logo{
                height: 100%;
                display: flex;
                align-items: center;
                .logo-page{
                    width: 130px;
                    object-fit: cover;
                }
            }
            .menu-page{
                height: 100%;
                width: inherit;
                display: flex;
                align-items: center;
                .pages{
                    align-items: center;
                    display: flex;
                    margin: 0 30px;
                    height: 100%;
                    .btn-page{
                        cursor: pointer;
                        margin-right: 20px;
                        min-width: 60px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        .link-page{
                            color: var(--color-text-p);
                            text-decoration: none;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 16px;
                            transition: all .3s ease;
                            &:hover{
                                color:var(--color-title-item) ;
                            }
                        }
                        .text-color{
                            color: var(--color-title-item);
                        }
                        .line{
                            position: absolute;
                            bottom: 0;
                            height: 5px;
                            width: 100%;      
                            border-top-left-radius:5px ;                      
                            border-top-right-radius:5px ;                      
                        }
                        .active-line{
                            transition: all .3s ease;
                            background-color: var(--color-title-item);
                        }
                    }
                    
                }
                .more-page{
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    margin-left:-30px;
                    width:100px;
                    height: 40px;
                    border-radius: 5px;
                    color: var(--color-text-p);
                    font-size: 16px;
                    transition: all .3s ease;
                    &:hover{
                        background-color: var(--background-color-hover);
                    }
                    &:active{
                        border: 2px solid var(--color-title-item);
                    }
                    .icon{
                        color: var(--color-icon);
                        margin-left: 10px;
                    }
                }
            }
        }
        .header-right{
            position: absolute;
            right: 0;
            top: 0;
            width: fit-content;
            height: 60px;
            display: flex;
            align-items: center;
            .account-theme{
                align-items: center;
                display: flex;
                width: 55%;
                height: 100%;
                justify-content: flex-end;
                .btn-account{
                    cursor: pointer;
                    width: 80px;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid rgb(207, 207, 207);
                    background-color: transparent;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    transition: all .3s ease;
                    &:hover{
                        background-color: var(--background-color-hover);
                    }
                    &:active{
                        border: 2px solid var(--color-title-item);
                    }
                    .avt-account{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: var(--color-text);
                    }
                    .icon{
                        color: var(--color-text-p);
                        width: 15px;
                    }
                }
                .theme{
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    width: 35px;
                    height: 35px;
                    border-radius: 5px;
                    margin-left: 10px;
                    margin-right: 15px;
                    &:hover{
                        background-color: var(--background-color-hover);
                        transition: all .3s ease;
                    }
                    
                }
            }
            .partition{
                width: 1px;
                height: 50%;
                background-color: rgb(187, 187, 187);
            }
            .discord-github{
                width: 45%;
                height: 100%;
                align-items: center;
                display: flex;
                justify-content: flex-end;
                .link-to{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 5px;
                    margin-left: 15px;
                    &:hover{
                        background-color: var(--background-color-hover);
                    }
                    .icon{
                        color: var(--color-icon);
                    }
                }
            }
            .icon{
                font-size: 25px;
                border-radius: 5px;
                color: var(--color-icon); 
            }
            .menu-home{
                display: none;
                .label{
                    cursor: pointer;
                    color: var(--color-icon);
                    align-items: center;
                    font-size: 25px;
                    margin-left: 15px;
                }
            }
            .input-home{
                display: none;
            }
            .input-home:checked ~.sub-menu{
                transform: translateX(0%);
            }
            .sub-menu{
                transition: all .3s ease;
                position: fixed;
                z-index: 1;
                right: 0;
                top: 0;
                height: 100%;
                width: 100%;
                transform: translateX(100%);
                border-radius: 5px;
                display: flex;
                background-color: var(--background-color-card);
                z-index: 2;
                .menu{
                    width: 100%;
                    height: 100%;
                    margin-top: 50px;
                    .item{
                        cursor: pointer;
                        padding: 5px 50px;
                        width: 100%;
                        height: fit-content;
                        ;
                        &:hover{
                            background-color: var(--background-color-hover-drop);
                        }
                        a{
                            width: 100%;
                            height: 25px;
                            color: var(--color-text-p);
                            text-decoration: none;
                            display: flex;
                            justify-content: center
                        }
                    }
                }
                label{
                    cursor: pointer;
                    color: var(--color-icon);
                    align-items: center;
                    font-size: 25px;
                    .icon{
                        position: absolute;
                        right: 0;
                        margin: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .wrapper-header-main{
        .container{
            .header-right{
                .account-theme{
                    .btn-account{
                    }
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    .wrapper-header-main{
        .container{
            .header-left{
                .menu-page{
                    display: none;
                }
            }
            .header-right{
                .account-theme{
                    .btn-account{
                        display: none;
                    }
                    .theme{
                        margin-right: 0;
                    }
                }
                .menu-home{
                    display: flex;
                }
            }
        }
    }
}
@media screen and (max-width: 350px){
    .wrapper-header-main{
        .container{
            .header-left{
                .logo{
                    .logo-page{
                        width: 100px;
                    }
                }
                .menu-page{
                    display: none;
                }
            }
            .header-right{
                .account-theme{
                    .btn-account{
                        display: none;
                    }
                    .theme{
                        margin-left: 0;
                        margin-right: 0;
                        .icon{
                            font-size: 20px;
                        }
                    }
                }
                .discord-github{
                    .link-to{
                        margin-left: 5px;
                        .icon{
                            font-size: 20px;
                            width: 20px;
                            height: 20px;

                        }
                    }
                }
                .menu-home{
                    display: flex;
                    .icon{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}